<template>
    <div class="page__wrapper">
        <div>
            <NoAccessPage/>
        </div>
        <div v-if="isLoggedin">
            <h2>Upload File</h2>
            <p>Upload your file txt here</p>
            <input id="file_info"  type="file" ref="file" @change="onFileChange">
            <button v-if="this.file!=null" @click="onProcessFile()">Start Processing</button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import NoAccessPage from './NoAccessPage.vue'
export default {
  name: 'FileUpload',
  components:{NoAccessPage},
  data(){
    return{
      file:null
    }
  },
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      clientId: 'getClientId',
      userProfile: 'getUserProfile',
    })
  },
  methods:{
    onFileChange(){
        this.file = this.$refs.file.files[0];
    },
    onProcessFile(){
      console.log("proses upload file")
      // do here: call api upload file and etc
      const _self = this
      let formData = new FormData()
      formData.append('file', this.file);
      console.log(this.userProfile.email)
      _self.axios
        .post(`http://20.27.52.96:8002/uploadfile/${this.userProfile.email}`,
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            }
          }
        )
        .then(
          response => {
            if(response.status === 200){
              alert('Upload File berhasil')
              this.$router.push('/');
            }else{
              alert('Errorr')
            }
          }
        ).catch(error => {
          console.log(error)
          }
        )
    }
  },
}
</script>
