<template>
  <div class="page__wrapper">
    <h1>Welcome to Text Filtering of Book Review</h1>
    <p>This App will help you to filter book review you upload in txt file format.</p>
    <router-link v-if="isLoggedin" to="/upload-file"> Upload File</router-link> 
    <!--Temporary link to /status and /report with auth !-->
    <router-link v-if="isLoggedin" to="/status">Status</router-link> 
    <router-link v-if="isLoggedin" to="/report">Report</router-link> 
    <p v-if="!isLoggedin">Please Log In to use the services.</p>
    <button v-if="!isLoggedin" @click="onButtonClick" :disabled="!gLibraryLoaded">Login Using Google Account</button>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'LandingPage',
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      userProfile: 'getUserProfile',
      client: 'getClient',
      gLibraryLoaded: 'getGLibraryLoaded',
      clientId: 'getClientId'
    })
  },
  methods:{
    ...mapActions({
      setAccessToken : 'setAccessToken',
      setIsLoggedin : 'setIsLoggedin',
      setUserProfile: 'setUserProfile',
      setClient : 'setClient',
      setGLibraryLoaded : 'setGLibraryLoaded',
   
    }),
    callback(response){
      const _self = this
      _self.setAccessToken(response.access_token)
      const data = {'client_id': _self.clientId,'access_token': _self.accessToken}
      _self.axios
        .post("https://law-text-filter-authentication.herokuapp.com/add-user/",data, {headers: {'Content-Type' : 'application/json'}} )
        .then(response =>{
            _self.setIsLoggedin(true)
            _self.setUserProfile(response.data)
        }).catch(error => {
          console.log(error)
        })
    },
    onButtonClick(){
      const _self = this
      if (_self.gLibraryLoaded) {
        const accountClient = window.google.accounts.oauth2;
        _self.setClient(accountClient);
        _self.client.initTokenClient({
          client_id: "541656281005-upj385kcj74ag2jvuo28pm2grl8k4m66.apps.googleusercontent.com",
          scope: 'email profile',
          callback: _self.callback,
        }).requestAccessToken();
      }
    }
  },
  
}
</script>
<style>
.page__wrapper{
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
</style>


