<template>
    <div v-if="!isLoggedin" class="page__wrapper">
        <div >
            <p>{{message}}</p>
            <router-link to="/"> Click here to Log in</router-link>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'NoAccessPage',
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      userProfile: 'getUserProfile',
      client: 'getClient',
      clientId: 'getClientId'
    })
  },
  data(){
    return{
      message: ""
    }
  },
  methods:{
    ...mapActions({
      setAccessToken : 'setAccessToken',
      setIsLoggedin : 'setIsLoggedin',
      setUserProfile: 'setUserProfile',
      setClient : 'setClient',
    }),
  },
  created(){
    const _self = this
    // check the validity of the access token, whether has timed out or not
    if(_self.accessToken!=''){
        const data = {'client_id': _self.clientId,'access_token': _self.accessToken}
        _self.axios
            .post("https://law-text-filter-authentication.herokuapp.com/get-user-authorization/",data, {headers: {'Content-Type' : 'application/json'}} )
            .then(response =>{
                _self.setIsLoggedin(true)
                _self.setUserProfile(response.data)
            }).catch(error => {
                console.log(error)
                _self.setIsLoggedin(false)
                _self.setUserProfile(null)
                _self.message = "You're session has timed out"
        })
    }else{
       _self.message = "You're not logged in"
    }
  }
}
</script>


