<template>
    <div class="profile">
        <p>You're logged in as: </p>
        <p>{{ userProfile.username }} ({{userProfile.email}})</p>
        <router-link to="/"> <button @click="logout">Logout</button></router-link>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'ProfileComponent',
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      userProfile: 'getUserProfile',
      client: 'getClient',
      clientId: 'getClientId'
    })
  },
  methods:{
    ...mapActions({
      setAccessToken : 'setAccessToken',
      setIsLoggedin : 'setIsLoggedin',
      setUserProfile: 'setUserProfile',
      setClient : 'setClient',
    }),
    logout(){
        const _self = this;
        const data = {'client_id': _self.clientId,'access_token': _self.accessToken, 'email':_self.userProfile.email}
        _self.axios
            .post("https://law-text-filter-authentication.herokuapp.com/log-out/",data, {headers: {'Content-Type' : 'application/json'}}
            ).then(response =>{
                console.log(response)
                _self.setIsLoggedin(false)
                _self.setUserProfile(null)
            }).catch(error => {
                console.log(error)
            })
    }
  },
}
</script>
<style scope>
.profile{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    background-color: lightblue;
    padding-right: 20px;
}
.profile p{
    margin: 8px;
}
</style>

