<template>
    <div class="page__wrapper">
        <div>
            <NoAccessPage/>
        </div>
        <div v-if="isLoggedin">
            <h2>Export Text Report</h2>
            <button @click="onDownloadReport()">Download file</button>
        </div>
    </div>
</template>

<script>
import { mapGetters} from 'vuex'
import NoAccessPage from './NoAccessPage.vue'

export default {
  name: 'ReportPage',
  components:{NoAccessPage},
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      userProfile: 'getUserProfile',
      clientId: 'getClientId'
    })
  },
  methods:{
    onDownloadReport(){
        console.log("download report")
        // do here: download the report by calling to report creator api
    }
  },
}
</script>


