<template>
    <div class="page__wrapper">
        <div>
            <NoAccessPage/>
        </div>
        <div v-if="isLoggedin">
            <h2>Text Processing Status</h2>
            <!-- do here: show status dari file yang lagi di tahap apa di BE !-->
            <div>Status 1</div> 
            <div>Status 2</div>
            <div>Status 3</div>
        </div>
    </div>
</template>

<script>
import { mapGetters} from 'vuex'
import NoAccessPage from './NoAccessPage.vue'
export default {
  name: 'StatusPage',
  components:{NoAccessPage},
  computed:{
    ...mapGetters({
      accessToken : 'getAccessToken',
      isLoggedin: 'getIsLoggedin',
      userProfile: 'getUserProfile',
      clientId: 'getClientId'
    })
  },
}
</script>
<style scope>

</style>

