<template>
  <ProfileComponent v-if="isLoggedin"></ProfileComponent>
   <router-view />
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { useLibraryLoaded } from 'vue3-google-login'
import ProfileComponent from './components/Profile.vue'
export default {
  name: 'App',
  components: {
    ProfileComponent
  },
  computed:{
    ...mapGetters({
      isLoggedin: 'getIsLoggedin',
      gLibraryLoaded: 'getGLibraryLoaded'
    })
  },
  methods:{
  ...mapActions({
    setGLibraryLoaded : 'setGLibraryLoaded',
    }),
  },  
  created(){
    const _self = this
    if(!_self.isLoggedin){
      const gLibraryLoaded = useLibraryLoaded()
      _self.setGLibraryLoaded(gLibraryLoaded)
    } 
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
